trunk/src/br/ufmt/xml/Busca1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="solicitacao" type="solicitaArquivoBusca"/>

  <xs:complexType name="busca">
    <xs:sequence>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="solicitaArquivoBusca">
    <xs:sequence>
      <xs:element name="busca" type="busca" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

