trunk/src/br/ufmt/xml/Solicita1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="solicitacao" type="solicitaArquivo"/>

  <xs:complexType name="requisitaArquivo">
    <xs:sequence>
      <xs:element name="nome" type="xs:string" minOccurs="1"/>
      <xs:element name="posicao" type="xs:int"/>
      <xs:element name="tamanho" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="solicitaArquivo">
    <xs:sequence>
      <xs:element name="requisita" type="requisitaArquivo" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

